body {
  font-family: Arial, sans-serif;
  display: flex;
  margin: 10%;
  position: relative;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
  padding: 3px;
  /* Cell borders */
}

th {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}